@model IEnumerable<Cibertec.Models.Servicio>

@{
    ViewBag.Title = "Servicio Index";
}

<h2>Index</h2>

@Messages.AlertMessages()

<p>
    <a href="#" onclick="cibertec.getModal('@Url.Action("Create")'); return false;"
       data-toggle="modal" data-target="#modal-container" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus">New</span>
    </a>
</p>

@*@Html.Partial("_List")*@

<div class="pagination"></div>
<div class="content"></div>
<div class="pagination"></div>

@Modal.GetModal("Servicio", "servicio.closeModal();")

<script src="~/Scripts/jquery.bootpag.min.js"></script>
<script src="~/App_JS/cibertec.js"></script>
<script src="~/App_JS/servicio.js"></script>

@* Scripts para el SignalR*@
<script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
<script src="/signalr/hubs"></script>
<script type="text/javascript">
    $(function () {
        var servicioHub = $.connection.servicioHub;
        $.connection.hub.start().done(function () {
            console.log("Connected to Hub...");
            console.log(servicio);
        });
    })
</script>